* {
	margin: 0;
	padding: 0;
}

body {
	background: url("images/header.jpg") #fff repeat-x top;
	font-family: sans-serif;
	font-size: 1em;
	color: #000;
	padding: 0 0 50px 0;
}

h1 {
	padding: 10px 0 0 20px;
	font-size: 1.7em;
	height: 100px;
	color: #222;
}

h1 span {
	position: relative;
	left: 20px;
	bottom: -10px;
	font-size: 0.6em;
	color: #aaa;
}

h1 small {
	float: right;
	color: #000;
	font-weight: normal;
	font-size: 0.4em;
	margin-right: 20px;
	color: #080;
}

a {
	color: #a00;
	text-decoration: underline;
}

a:hover {
	color: #000;
	text-decoration: none;
}

#main_menu {
	position: absolute;
	padding: 5px 30px 5px 10px;
	border: #000 1px solid;
	border-width: 0 1px 1px 1px;
	right: 60px;
	top: 60px;
	color: #d00;
	font-size: 0.8em;
	list-style-type: none;
	background-color: #fff;
	border-radius: 0 0 10px 10px;
}

#main_menu li {
	display: inline;
	margin-left: 20px;
}

h2 {
	font-size: 1.5em;
	color: #555;
	clear: both;
}

h2 input {
	display: block;
	width: 80%;
	font-size: 1em;
	color: #555;
	float: none;
}

h3 {
	font-size: 1.1em;
	color: #555;
	border-bottom: #ddd 3px dotted;
}

#content,h2 {
	margin: 0 auto 10px auto;
	padding: 10px;
	width: 90%;
	background-color: #f6f6f6;
	border: #ddd 1px solid;
	border-radius: 10px;
}

.adminMenu {
	margin: 0 auto;
	list-style-type: none;
	width: 60%;
}

.adminMenu li {
	margin: 0 0 10px 0;
}

.adminMenu a {
	padding: 10px;
	display: block;
	width: 100%;
	background-color: #fff;
	border: #ddd 1px solid;
	border-radius: 10px;
	color: #000;
	text-decoration: none;
}

.adminMenu a:hover {
	background-color: #eee;
}

.adminMenu .title {
	color: #a00;
	font-weight: bold;
	display: block;
}

.adminMenu a:hover .title {
	text-decoration: underline;
}

.clear {
	clear: both;
}

.context_menu {
/*	float: right;
	width: 25%;*/
	margin: 20px 10px;
	list-style: none;
}

.infos {
	margin: 10px;
	padding: 10px;
	background-color: #af8;
	border: #aaa 1px solid;
	border-radius: 10px;
	font-size: 0.85em;
}

.image {
	display: inline;
}

.actions {
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
}

/* Tableaux */
table {
	margin: 9px;
	background-color: #fff;
	font-size: 0.85em;
	border: #000 1px solid;
	border-left: 0px;
	border-top: 0px;
	text-align: center;
}

tbody th {
	border-right: #000 1px solid;
}

td,th {
	padding: 2px 5px;
	border-left: 1px solid #000;
	border-top: 1px solid #000;
}

th {
	background-color: #ddd;
}

.main_content {
	margin-right: 30%;
}

.main_content table {
	width: 100%;
}

.checkAll {
	color: #a00;
	text-decoration: underline;
}

.checkAll:hover {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

/* Formulaires */
label {
	clear: left;
	width: 15em;
	text-align: right;
	font-size: 0.8em;
}

input,select,textarea,label {
	float: left;
	margin: 10px;
}

.mandatory:before {
	color: #F00;
	content: "* ";
}

textarea {
	height: 10em;
	width: 30em;
	text-align: left;
	margin-left: 0;
}

button {
	clear: left;
	display: block;
	margin: 0 auto;
}

/*
	STYLE FO CALENDAR
*/
.ds_box {
	background-color: #FFF;
	border: 1px solid #000;
	position: absolute;
	z-index: 32767;
}

.ds_tbl {
	background-color: #FFF;
}

.ds_head {
	background-color: #FA0;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 2px;
}

.ds_subhead {
	background-color: #CCC;
	color: #000;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	width: 32px;
}

.ds_cell {
	background-color: #EEE;
	color: #000;
	font-size: 13px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	padding: 5px;
	cursor: pointer;
}

.ds_cell:hover {
	background-color: #F3F3F3;
}  /* This hover code won't work for IE */ /* END STYLE FOR CALENDAR */
